/* common */
body{ 
  background-color:#F4F5F7;
  margin: 0px;
  text-align: center;
}
/* base */
header a , .selectmonth a{
  text-decoration: none;
  color: black;
}
header{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color:#F4F5F7;
}
.topmenu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.topmenu1{
  justify-content: space-evenly;
  list-style: none;
  margin: 16px 20px 0px 0px;
  text-align: right;
}
#logo{
  font-size: 80px;
  height: 50px;
  line-height: 30px;
  margin-left: 80px;
  text-align: left;
  font-family: 'Vollkorn',serif;
  text-shadow: 1px 2px 3px #808080;
  font-weight: bold;
  position: relative;
  top: 20px;
}
#logo :hover{
  opacity: 0.7 ;
}
/* ログインと新規登録、トップ・寮食予約・寮食感想・お風呂状況の設定 */
.topmenu2{
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}
.topmenu1 li{
  width: 100px;
  text-align: right;
  font-size: 18px;
  line-height: 20px;
  display: inline-block;
  position: relative;
}
#accordion-menu{
  margin-top: 16px;
}
.topmenu2 li{
  width: 300px;
  text-align: center;
  font-size: 20px;
  justify-content: space-around;
}
.topmenu1 li a , .topmenu2 li a , .selectmonth li a{
  padding:10px 10px 5px 10px;
  position: relative;
}
.topmenu1 li a::before , .topmenu2 li a::before , .selectmonth li a::before{
  background: #ff701e;
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .5s;
}
.topmenu1 li a:hover::before , .topmenu2 li a:hover::before , .selectmonth li a:hover::before{
  transform-origin: left top;
  transform: scale(1, 1);
}
#open{
  display: none;
}

@media screen and (max-width:1100px){
  #logo{
    margin-left: 20px;
  }
}
@media screen and (max-width:520px){
  header{
    flex-direction: row;
    align-items: center;
  }
  #logo{
    font-size: 40px;
  }
  #logo :hover{
    opacity: 1.0 ;
  }
  #logo :active{
    opacity: 0.7 ;
    transition: .2s;
  }
  .topmenu1{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 16px 0px;
    padding-left: 10px;
  }
  .topmenu1 li{
    margin: 3px;
    width: 72px;
  }
  .topmenu1 li a{
    padding: 0px;
  }
  .topmenu2{
    display: block;
  }
  .topmenu2 li{
    margin: 10px;
    border-bottom: 1px rgba(255,255,255,1) solid;
    width: 200px;
  }
  #top{
    padding: 10px 70px 0px 70px;
  }
  #order , #feeling{
    padding: 10px 60px 0px 60px;
  }
  #bath{
    padding: 10px 30px 0px 30px;
  }
  .topmenu1 li a::before , .topmenu2 li a::before{
    display: none;
  }
  .topmenu1 li a:hover::before , .topmenu2 li a:hover::before{
    display: none;
  }
  .topmenu1 li a:active , .topmenu2 li a:active{
    background-color: #808080;
  }
  /*** ボタン全体 ***/
  .menu-btn{
    display: flex;
    position: relative; /*線の起点*/
    width: 68px; /*ボタンの幅*/
    height: 68px; /*ボタンの高さ*/
    cursor: pointer; /*クリック可能を伝える*/
    z-index: 100; /*最前面*/
  }
  /*** ボタンの三本線（共通） ***/
  #accordion-menu{
    margin-top: 0px;
  }
  .menu-btn span{
    position: absolute;
    width: 40%; /*線の長さ*/
    height: 4px; /*線の太さ*/
    left: calc(50% - 40% / 2); /*中央から長さの半分を引く*/
    background: #000; /*線の色*/
    transition: .4s;
  }
  /* 順に上・中・下の線 */
  .top-bar{
    top: calc(35% - 2px / 2); /*上から35%の位置*/ 
  }
  .center-bar{
    top: calc(50% - 2px / 2); /*上から50%の位置*/
  }
  .under-bar{
    top: calc(65% - 2px / 2); /*上から65%の位置*/
  }
  /** クリック後(✔が入った後)の線 **/
  /*上の線*/
  #open:checked ~ .menu-btn > .top-bar {
    top: calc(50% - 2px / 2); /*中央*/
    transform: rotate(45deg); /*45度回転*/
  }
  /*中の線*/
  #open:checked ~ .menu-btn > .center-bar{
    opacity: 0;/*真ん中の線は透過*/
  }
  /*下の線*/
  #open:checked ~ .menu-btn > .under-bar{
    top: calc(50% - 2px / 2); /*中央*/
    transform: rotate(-45deg); /*-45度回転*/
  }
  /*** メニュー内容 ***/
  .inner-menu{
    position: fixed; /*画面固定*/
    top: 0;
    left: 0;
    width: 100vw; /*全画面*/
    height: 100vh;
    box-sizing: border-box;
    padding: 80px 60px 0px 80px; /*ボタンと被らない位には*/
    background: rgb(188, 188, 188); /*背景*/
    opacity: 0; /*透明*/
    visibility: hidden; /*標準で非表示*/
    transition: .5s;
    z-index: 99; /*ボタンより背面(小さい値)*/
    overflow-y: scroll; /*スクロール可*/
    text-align: center;
  }
  #open:checked ~ .inner-menu{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

/* index */
.h3{
  margin-top: 0px;
}
.mrg-10{
  margin-right: 10px;
}
.index-exp{
  display: none;
}
@media screen and (max-width:520px){
  .mrg-10{
    display: none;
  }
  .index-exp{
    display: block;
    margin: 0px;
  }
}

/* login */
.elementstyle {
  font-family: sans-serif;
  margin: 60px auto 60px auto;
  color: rgb(39, 39, 40);
  background-color: rgb(244, 244, 244);
  border: 1px solid #555; 
  max-width: 365px;
}
input[type="text"] , input[type="password"]{
  width: 220px;
  height: 19px;
  font-size: 80%;     
}
input[type="submit"] {
  /* padding-top: 3px;
  padding-bottom: 3px; */
  height: 28px;
  margin-bottom: 20px;
  margin-top: 45px;
  width: 220px;
  font-size: 13px;
  border: 1px solid;
  display: inline-block;
  background-color: rgb(21 210 0 / 68%); /* 背景色 */
  border-color: white;
  color: white;
  cursor: pointer;
  text-decoration: none; /* 文字の下線を消す */
}
@media screen and ( max-width:960px){
  .elementstyle {
    background-color: rgb(244, 245, 247);
    border: 1px solid rgb(244, 245, 247); 
    font-family: sans-serif;
    margin: 50px auto 60px auto;
    color: rgb(39, 39, 40);
    max-width: 450px;
  }
  input[type="text"] , input[type="password"]{
    padding-top: 0px;
    padding-bottom: 0px;   
    height: 25px;
    width: 280px;
    font-size: 100%; 
 }
 .h1size{
  font-size: 30px;
 }
 input[type="submit"] , form input[type="reset"]{
  height: 30px;
  width: 264px;
}
}
@media screen and ( max-width:520px){
  .elementstyle {
    background-color: rgb(244, 245, 247);
    border: 1px solid rgb(244, 245, 247); 
    font-family: sans-serif;
    margin: 50px auto 60px auto;
    color: rgb(39, 39, 40);
    max-width: 400px;
  }
  input[type="text"] , input[type="password"]{
    padding-top: 0px;
    padding-bottom: 0px;
    height: 23px;
    font-size: 100%;  
    width: 220px;   
 }
 .h1size{
  font-size: 27px;
 }
 input[type="submit"] , form input[type="reset"]{
  width: 225px;
}
}
.miss{
  color: red;
}

.miss1{
  color: red;
  font-size: 13pt;
}

.regulation {
  color: rgb(0, 187, 255);
  padding-right: 15px;
  padding-left: 30px;
}

.regulation:hover {
  color: #3562c2;
} 

@media screen and ( max-width:520px){
  .regulation {
    color: rgb(0, 187, 255);
    padding-right: 3px;
    padding-left: 15px;
  }

}
.elementstyle1{
  font-family: sans-serif;
  margin: 100px auto auto auto;
  height: 300px;
  width: 500px;
  color: rgb(39, 39, 40);
  background-color: rgb(244, 244, 244);
  border: 1px solid #555; 
}

@media screen and ( max-width:960px){
  .elementstyle1{
    font-family: sans-serif;
    margin: 100px auto auto auto;
    height: 300px;
    width: 420px;
    color: rgb(39, 39, 40);
    background-color: rgb(244, 245, 247);
    border: 1px solid rgb(244, 245, 247);
    margin-top: 100px;
  }
}

@media screen and ( max-width:520px){
  .elementstyle1{
    font-family: sans-serif;
    margin: 100px auto auto auto;
    height: 300px;
    width: 318px;
    color: rgb(39, 39, 40);
    background-color: rgb(244, 245, 247);
    border: 1px solid rgb(244, 245, 247);
  }
}

.order{
  text-decoration: none;
  color: rgb(0, 187, 255);
  font-size: 17pt;
}

@media screen and ( max-width:520px){
  .order{
    text-decoration: none;
    color: rgb(0, 187, 255);
    font-size: 15pt;
  }
}

.order1{
  margin-top: 50px;
}

a.order{
  margin-left: 30px;
  margin-right: 30px;
}

.order:hover{
  color: #3562c2;
}

.sinup2:hover{
  color: #3562c2;
}
 
.sinup2{
  color: rgb(0, 187, 255);
}

.sinup{
  padding-top: 180px;
  text-align: center;
}
 
.sinup1{
  font-size: 25pt;
  padding-bottom: 60px;
}
 
.sinup3{
  font-size: 13pt;}

  @media screen and ( max-width:960px){
    .sinup{
      padding-top: 100px;
      text-align: center;
    }
    .sinup1{
      font-size: 34px;
      padding-bottom: 30px;
    }
    .sinup3{
      font-size: 16px;}
  }

 @media screen and ( max-width:520px){
  .sinup{
    padding-top: 50px;
    text-align: center;
  }
  .sinup1{
    font-size: 23px;
    padding-bottom: 30px;
  }
  .sinup3{
    font-size: 13px;}
}
  

/* week */
/* リセットボタンと送信ボタンの設定 */
.botton{
  text-align: center;
}
/* h1タグの設定 */
#week_h1{
  font-size: 40px;
  text-align: center;
}
.week_p{
  margin: 0px;
}
.form{
  font-size: 25px;
}

/* 表の設定 */
table{
  border-collapse: collapse;  /* th、tdなどの隣接するセルの枠線を重ねて表示する */
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}
table th,table td{
  border:1px #999 solid; /* 枠線をつける */
}


/* ラジオボタンの設定（装飾とか） */
.container {
  display: inline-block;
  justify-content: center;
  box-sizing: border-box;
}
.menu-label {
  position: relative;
  min-width: 10%;
  margin: 10px;
}
.menu-label input[type=radio].menu-input {
  display: none;
}
.menu-label .menu-text {
  position: relative;
  display: block;
  padding-left: 35px;
  cursor: pointer;
}

.menu-label .menu-text:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  width: 24px;
  height: 24px;
}
.menu-label input[type=radio].menu-input:checked + .menu-text:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  display: block;
  margin: auto;
}
.menu-label .menu-text.round:before {
  border: 1px solid #ddd;
  border-radius: 40px;
}
.menu-label input[type=radio].menu-input:checked + .menu-text.round:after {
  width: 16px;
  height: 16px;
  background-color: #4abdac;
  border-radius: 40px;
}


/* control */
#result, #input{
  display: block;
  margin-top: 30px;
  font-size: 22px;
}

/* control-input */
#explanation{
  margin-top: 40px;
}

.monthday{
  width: 150px;
}
 
.monthA{
  width: 300px;
  height: 32px;
  border-bottom:#F4F5F7 ;
}

.monthB{
  height: 32px;
  border-top: #F4F5F7;
}

.month1{
  width: 190px;
  border-bottom:#F4F5F7 ;
}

.month2{
  border-top: #F4F5F7;
}

.selectmonth ul{
  display: flex;
  list-style: none;
  justify-content: center;
}
.selectmonth li{
  width: 300px;
  text-align: center;
  font-size: 20px;
  justify-content: space-around;
}

#phone{
  display: none;
}
@media screen and (max-width:520px){
  .selectmonth , #explanation{
    display: none;
  }
  #phone{
    display: block;
  }
}

.ordercom{
  margin-top: 100px;
  margin-bottom: 45px;
} 

.ordercom1:hover{
  color: #3562c2;
}

.ordercom2{
  font-size: 14pt;
}

.ordercom3{
 margin-bottom: 40px;
}

@media screen and ( max-width:520px){
  .ordercom{  
     font-size: 23px
  }  

  .ordercom2{
    font-size: 10pt;
  }
}

.feeling{
  resize: none;
  width:600px;
  height:250px;
  font-size: 16pt;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

@media screen and ( max-width:520px){
  .feeling{ 
    resize: none;
    width: 341px;
    height: 250px;
    font-size: 14pt;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
 }
}

@media screen and ( max-width:960px){
input.monthC{
  width: 200px;
  height: 22px;
  font-size: 90%;     
}
}

/* control-result */
.result{
  width: 250px;
}

.result1{
  width: 180px;
}

.result2{
  width: 150px;
}
 
/* .result3{
  font-size: 30px;
} */