/* common */
body{ 
  background-color:  #f9fbfe;
}

a{
  text-decoration: none;
  color: black;
}

/* base */
.header{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: rgb(0, 208, 255);
}
.nav1{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.nav1 ul{
  display: flex;
  list-style: none;
}
.nav1 li{
  width: 100px;
  text-align: center;
  font-size: 18px;
  margin-right: 20px;
  line-height: 10px;
}
.logo{
  font-size: 40px;
  width: 120px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  margin-left: 50px;
}
.nav2 ul{
  display: flex;
  list-style: none;
}
.nav2 li{
  width: 300px;
  text-align: center;
  font-size: 20px;
  margin-right: 10px;
  line-height: 20px;
}

/* login */
.body{
  text-align: center;
} 
.elementstyle {
  font-family: sans-serif;
  margin: 120px auto 60px auto;
  color: rgb(39, 39, 40);
  background-color: rgb(244, 244, 244);
  border: 1px solid #555; 
  max-width: 365px;
}  
.color{
  color:rgb(244, 244, 244); 
}

input[type="text"] {
  width: 220px;
  padding: 5px;
  font-size: 1px;     
} 

input[type="password"] {
  width: 220px;
  padding: 5px;
  font-size: 1px; 
}  


input[type="submit"] {
  margin-bottom: 20px;
  margin-top: 45px;
  width: 220px;
  padding: 5px;
  font-size: 1px;
  background-color: aliceblue;
  border: 1px solid
} 

.miss{
  color: red;
}
