<!DOCTYPE html>
<html lang="ja">
<head>
  {% block head %}
  {% endblock %}
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>kakaria</title>
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<header>
  <div id="logo"><a href="/">kakaria</a></div>
  <ul class="topmenu1">
    <li id="login"><a href="/login">ログイン</a></li>
    <li id="sinup"><a href="/sinup">新規登録</a></li>
  </ul>
  <div id="accordion-menu">
    <!-- チェックボックス -->
    <input type="checkbox" id="open">
    
    <!-- ボタン -->
    <label for="open" class="menu-btn">
      <span class="top-bar"></span> <!--上の線-->
      <span class="center-bar"></span> <!--中の線-->
      <span class="under-bar"></span> <!--下の線-->
    </label>
    
    <!--- メニュー内容 --->
    <nav class="inner-menu">
      <ul class="topmenu2">
        <li><a id="top" href="/">トップ</a></li>
        <li><a id="order" href="/ryosyoku_order">寮食予約</a></li>
        <li><a id="feeling" href="/ryosyoku_feeling">寮食感想</a></li>
        <li><a id="bath" href="/bath">お風呂混雑状況</a></li>
      </ul>
    </nav>
    
  </div>
</header>
<body>
  {% block body %}
  {% endblock %}
</body>
<footer>

</footer>
</html>