{% extends "./base.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/graph.css">
  <link rel="stylesheet" href="/static/css/main.css"> 
{% endblock %}

{% block body %}
  <!-- グラフの表示 -->
  <div class="graph-wrap">
    <div class="graph-wrap-graph">
      <div class="graph-wrap-today">
        <h2>本日の推移</h2>
        <div class="graph">
          <div class="graph-main">
            {% for percent, color in today_list %}
              <div class="bar" style="height: {{percent}}%; background: {{color}};"></div>
            {% endfor %}
          </div>
          <div class="graph-axis-padding">
            <div class="padding"></div>
            <div class="padding"></div>
            <div class="padding"></div>
            <div class="padding"></div>
            <div class="padding"></div>
          </div>
          <div class="graph-axis">
            <div class="axis axis18">18</div>
            <div class="axis axis19">19</div>
            <div class="axis axis20">20</div>
            <div class="axis axis21">21</div>
          </div>
        </div>
      </div>
      <!-- 平均のグラフ -->
      <div class="graph-wrap-average">
        <h2>平日の平均の推移</h2>
        <div class="graph">
          <div class="graph-main">
            {% for percent, color in average_list %}
              <div class="bar" style="height: {{percent}}%; background: {{color}};"></div>
            {% endfor %}
          </div>
          <div class="graph-axis-padding">
            <div class="padding"></div>
            <div class="padding"></div>
            <div class="padding"></div>
            <div class="padding"></div>
            <div class="padding"></div>
          </div>
          <div class="graph-axis">
            <div class="axis axis18">18</div>
            <div class="axis axis19">19</div>
            <div class="axis axis20">20</div>
            <div class="axis axis21">21</div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="hidden_graph">
      <label for="show-graph">平日の平均の推移を表示</label>
      <input type="checkbox" id="show-graph"/>
      <div class="hidden_show">
        <h2>平日の平均の推移</h2>
        <div class="graph">
          <div class="graph-main">
            {% for percent, color in average_list %}
              <div class="bar" style="height: {{percent}}%; background: {{color}};"></div>
            {% endfor %}
          </div>
          <div class="graph-axis-padding">
            <div class="padding"></div>
            <div class="padding"></div>
            <div class="padding"></div>
            <div class="padding"></div>
            <div class="padding"></div>
          </div>
          <div class="graph-axis">
            <div class="axis axis18">18</div>
            <div class="axis axis19">19</div>
            <div class="axis axis20">20</div>
            <div class="axis axis21">21</div>
          </div>
        </div>
      </div>
    </div>
    <h3>グラフの見方</h3>
    <div>
      <span class="mrg-10">赤：混雑している</span>
      <span class="mrg-10">黄色：少し混雑している</span>
      <span class="mrg-10">青：すいている</span>
      <p class="index-exp">赤：混雑している 黄色：少し混雑している</p>
      <p class="index-exp">青：すいている</p>
    </div>
    <!-- 簡易版 -->
    <div class="simplemenu">
      <p>未入浴:{{people_list[0]}}人</p>
      <p>入浴中:{{people_list[1]}}人</p>
      <p>入浴済み:{{people_list[2]}}人</p>
    </div>
    

    <!-- ボタン -->
    {% if bath_switch == 1 %}
      <form action="/bath" method="post">
        <input type="submit" name="bath_switch" value="入浴します">
      </form>
    {% else %}
      <p>入浴中又は入浴済み</p>
    {% endif %}
  </div>
{% endblock %}