{% extends "./base.html" %}

{% block body %}
<div class="body" >
  <div class="elementstyle">
    <h1>パスワード変更</h1>
    <!-- 通常表示 -->
    <form action="./change_password" method="post">
      <p>ユーザ名</p>
      <input type="text" name="user_name">
      <p>古いパスワード</p>
      <input type="text" name="old_password">
      <p>新しいパスワード</p>
      <input type="text" name="new_password">
      <input type="submit" class="change">
 {% if condition == 1 %}
      <!-- 入力ミスの場合 -->
      <p class="miss">入力ミスがあります。もう一度お願いします。</p>
 {% endif %}
    </form>
    <br>
    <a href="./sinup"  class="regulation">新規会員登録</a>
    <a href="./login" class="regulation">ログインシステム</a>
  </div>
</div>
{% endblock %}