{% extends "./base.html" %}

{% block body %}
  <a href="/ryosyoku_order/control/result">集計</a>
  <h1>管理者画面 : 入力</h1>
  <!-- 月ごとにリンク先を表示 -->
  <a href="/ryosyoku_order/control/input/month?key=4">4月</a>
  <a href="/ryosyoku_order/control/input/month?key=5">5月</a>
  <a href="/ryosyoku_order/control/input/month?key=6">6月</a>
  <a href="/ryosyoku_order/control/input/month?key=7">7月</a>
  <a href="/ryosyoku_order/control/input/month?key=8">8月</a>
  <a href="/ryosyoku_order/control/input/month?key=9">9月</a>
  <a href="/ryosyoku_order/control/input/month?key=10">10月</a>
  <a href="/ryosyoku_order/control/input/month?key=11">11月</a>
  <a href="/ryosyoku_order/control/input/month?key=12">12月</a>
  <a href="/ryosyoku_order/control/input/month?key=1">1月</a>
  <a href="/ryosyoku_order/control/input/month?key=2">2月</a>
  <a href="/ryosyoku_order/control/input/month?key=3">3月</a>
  
{% endblock %}