{% extends "./base.html" %}

{% block body %}
    <div class="elementstyle">
      <h1 class="h1size">ログイン</h1> 
      <!-- 通常表示   -->
      <form action="/login" method="post">
        <p>ユーザー名</p>
        <input type="text" name="user_name">
        <p>パスワード</p>
        <input type="password" name="password">
        <input  type="submit" value="送信">
        {% if condition == 1 %}
          <!-- 入力ミスの場合 --> 
          <p class="miss">入力ミスがあります。もう一度お願いします。</p>
        {% endif %}
      </form>
      <br>
      <a href="/sinup" class="elementstyle-link">新規登録</a>
      <a href="/change_password" class="elementstyle-link">パスワード変更</a>
    </div>
{% endblock %}