{% extends "./base.html" %}
{% block body %}
  <div class="body">
    <div class="elementstyle">
      <h1>Login</h1> 
      
      <!-- 入力ミスの場合 --> 
      {% if condition == 1 %}
        <p>入力ミスがあります。もう一度お願いします。</p>
      {% endif %}
      
        <!-- 通常表示   -->
      <form action="/login" method="post">
        <p>Username</p>
        <input type="text" name="user_name">
        <p>password</p>
        <input type="password" name="password">
        <p class="color">sent</p>
        <input type="submit" value="Send">
      </form>
      <br>
      <a href="/sinup">新規登録</a>
      <a href="/change_password">パスワード変更</a>
    </div>
  </div> 
{% endblock %}