{% extends "./base.html" %}

{% block body %}
  <h1>入力{{month}}月</h1>
  <form action="/ryosyoku_order/control/input/month?key={{key}}" method="post">
    {% for month, day in month_list %}
      {% set times = ['朝', '昼', '夜'] %}
      {% for time in times %}
        <p>{{month}}月{{day}}日({{time}})</p>
        <input type="checkbox">提供する<br>
        <!-- 提供する場合のみ表示 -->
        Aセット:<input type="text" name="{{month}}:{{day}}:{{time}}:A:name">
        最小個数:<input type="number" name="{{month}}:{{day}}:{{time}}:A:number"><br>
        Bセット:<input type="text" name="{{month}}:{{day}}:{{time}}:B:name">
        最小個数:<input type="number" name="{{month}}:{{day}}:{{time}}:B:number">
      {% endfor %}
    {% endfor %}
    <br>
    <input type="submit">
  </form>
{% endblock %}
{% set ns = namespace(old_menu = 0) %}