{% extends "./base.html" %}

{% block body %}
  <h1>入力{{month}}月</h1>
  <form action="/ryosyoku_order/control/input/month?key={{key}}" method="post">
    <table>
      <tr>
        <th>メニュー</th><th>セット</th><th>最小個数</th>
      </tr>
      {% for month, day, week, time, text_value, minimum_number in menu_list %}
      <tr>
        <td rowspan="2" class="monthday">
          <p>{{month}}月{{day}}日({{week}})({{time}})</p>
        </td>
        <td class="menuA">
          A:<input type="text" name="{{month}}:{{day}}:{{time}}:A:name" value="{{text_value[0]}}" class="menu-phone">
        </td>
        
        <td class="menuA-limit">
          <input type="number" name="{{month}}:{{day}}:{{time}}:A:number" value="{{minimum_number[0]}}"><br>
        </td> 
          <tr>
             <td class="menuB">
              B:<input type="text" name="{{month}}:{{day}}:{{time}}:B:name" value="{{text_value[1]}}" class="menu-phone"> 
            </td>
            
            <td class="menuB-limit">
              <input type="number" name="{{month}}:{{day}}:{{time}}:B:number" value="{{minimum_number[1]}}">
            </td>
          </tr>
           
      </tr>
      
        
      {% endfor %}
    </table>
    <br>
    <input type="submit">
  </form>
{% endblock %}
{% set ns = namespace(old_menu = 0) %}