{% extends "./base.html" %}

{% block body %}
  <!-- ↓何月何日～何月何日までの予約なのかを表示させてほしいです -->
  <h1>A月B日～C月D日</h1>
  <form action="/ryosyoku_order/week?key={{key}}" method="post">
    <table>
      <tr>
        <th>日付</th>
        <th colspan="2">メニュー</th>
      </tr>
      {% set ns = namespace(old_menu = 0) %}
      {% for menu_id, set, date, time, food_name, checked in menu_answer_list %}
        {% if loop.index == 1 %}  <!-- loop.indexは特殊な変数.ループの回数を保持 -->
          <!-- 新しい日付,新しい時間帯 -->
          <tr>
            <td>
              <p>{{date}}({{time}})</p>
            </td>
        {% elif ns.old_menu - menu_id != 0 %}  <!-- loop.indexは特殊な変数.ループの回数を保持 -->
          <!-- 新しい日付,新しい時間帯 -->
          </tr>
          <tr>
            <td>
              <p>{{date}}({{time}})</p>
            </td>
        {% endif %}

            <td>
              <div class="container">  
                <label class="menu-label">
                  <input type="radio" name="{{menu_id}}" value="{{set}}" {{checked}} class="menu-input">
                  <span class="menu-text round">{{set}}:{{food_name}}</span>
                </label>
              </div>
            </td>
        {% set ns.old_menu = menu_id%}
      {% endfor %}
    </table>
    <br>
    <div class="botton">
      <input type="reset" value="リセット">
      <input type="submit">
    </div>
  </form>
{% endblock %}